* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 550px;
  padding: 20px;
  place-self: center;
  text-align: center;
  background-color: #ffa500;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.container label {
  font-size: 2.5rem;
  font-weight: 600;
}
.input_field {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
#input {
  width: 70%;
  padding: 5px;
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}
#input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
#addItem_btn {
  font-size: 1.5rem;
  padding: 5px 20px;
  border: none;
  background: #32cd32;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
div#list_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list_item {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.list_item div:first-child {
  width: 70%;
  padding: 0 20px;
  font-size: 1.5rem;
  display: flex;
  gap: 15px;
  text-transform: capitalize;
}

.edit_btn,
.del_btn {
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.edit_btn {
  background: #2196f3;
}
.del_btn {
  background-color: #d9534f;
}

/* lodaer CSS */

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white,
      0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white,
      110px 0 white;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      130px 0 white, 120px 0 white;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 130px 0 white;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}
@media screen and (max-width: 425px) {
  .container label {
    font-size: 1.8rem;
  }
  #input {
    font-size: 1.5rem;
  }
  #addItem_btn {
    font-size: 1.1rem;
  }
  .list_item div:first-child {
    font-size: 1.3rem;
    width: 60%;
  }
  .edit_btn,
  .del_btn {
    font-size: 0.8rem;
    padding: 10px;
  }
}
@media screen and (max-width: 375px) {
  .container label {
    font-size: 1.6rem;
  }
  #input {
    font-size: 1.1rem;
  }
  .list_item div:first-child {
    font-size: 1.2rem;
    width: 100%;
    padding: 10px;
    justify-content: center;
  }
}
