* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  background-color: #292d3e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 550px;
  padding: 20px;
  place-self: center;
  text-align: center;
  background-color: azure;
}
.container label {
  font-size: 2.5rem;
  font-weight: 600;
}
.input_field {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
#input {
  width: 70%;
  padding: 5px 10px;
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}
#input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
#addItem_btn {
  font-size: 1.5rem;
  padding: 5px 20px;
  border: none;
  background: #5cb85c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.list_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
}
.list_item div:first-child {
  width: 70%;
  padding: 0 20px;
  font-size: 1.5rem;
  display: flex;
  gap: 15px;
  text-transform: capitalize;
}

.edit_btn,
.del_btn {
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.edit_btn {
  background: #2196f3;
}
.del_btn {
  background-color: #d9534f;
}
@media screen and (max-width: 425px) {
  .container label {
    font-size: 1.8rem;
  }
  #input {
    font-size: 1.5rem;
  }
  #addItem_btn {
    font-size: 1.1rem;
  }
  .list_item div:first-child {
    font-size: 1.3rem;
    width: 60%;
  }
}
@media screen and (max-width: 320px) {
  .edit_btn,
  .del_btn {
    font-size: 0.8rem;
    padding: 10px;
  }
  .container label {
    font-size: 1.6rem;
  }
  #input {
    font-size: 1.1rem;
  }
  .list_item div:first-child {
    font-size: 1.1rem;
  }
}
